<h1>Editing Lead Type</h1>

<p>
  <b>ID:</b> <%= @lead_type.id %><br>
</p>

<form accept-charset="UTF-8" action="<%= lead_type_path(@lead_type) %>" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input name="_method" type="hidden" value="put">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  
  <p>
    <b>Name:</b>
    <input required type="text" value="<%= @lead_type.name %>" name="lead_type[name]" maxlength="100" size="100">
  </p>
  <p>
    <b>Category:</b>
    <select required name="lead_type[lead_category_id]">
      <% ErCrm::LeadCategory.all.each do |lead_category| %>
        <option value="<%= lead_category.id %>" <%= 'selected' if lead_category.id == @lead_type.lead_category_id %>>
          <%= lead_category.name %>
        </option>
      <% end %>
    </select>
  </p>

  <button type="submit">Submit</button>
</form>