<% @body_class = "customerListing" %>

<div class="container">
  <h2><%= @customers.total_count %> Customers <small>meeting your search critera</small></h2>

  <div id="table" class="grid20">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Country</th>
          <th>Address</th>
          <th>Source</th>
          <th>Number of Leads</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><a href="<%= customer_path(customer) %>"><%= customer.name %></a></td>
            <td><%= customer.email %></td>          
            <td><%= customer.home_phone %></td>
            <td><%= customer.country.try(:name) %></td>
            <td><%= customer.address_line %></td>
            <td><%= customer.source.try(:name) %></td>
            <td><%= customer.leads.length %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="span3">
      <div class="showEntries">
        <%= page_entries_info @customers %>
      </div>      
    </div>
    <div class="span9">
      <%= paginate @customers , :theme => "er_crm" %>      
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.js-pageSize').change(function(){
      var selectedOption = $(this).find('option:selected');
      
      window.location.href = (window.location.pathname + $.query.set("per_page", selectedOption.val()).toString());
    });
  })
</script>