<% @body_class = 'adminLead costmerPage' %>

<div class="container">
  <div class="row grid20 customerPart js-customerPart">    
    <form>
      <div class="span9">
        <div class="row grid10">
          <div class="span2">
            <div class="control-group">
              <div class="controls">
                <% if @customer.customer_user_id %>
                  <img src="<%= @customer.user.avatar.url(:size100) %>" class="customerImg" />
                <% else %>
                  <img src="<%= image_path('er_crm/pages/avatar.jpg') %>" class="customerImg" />
                <% end %>
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="control-group">
              <%= render_edit_text_field("name","#{@customer.name}", {:display_wrapper => :h2}) %>
            </div>
            <div class="control-group">
              <%= render_edit_email_field("email", "#{@customer.email}") %>
            </div>
          </div>
        </div>
      </div>
      <div class="span3">
        <div class="control-group">
          <ul class="pull-right">
            <li style="<%= 'display:none' if @customer.mobile_number.blank? %>">
              <label>Cell:</label>
              <p>
                <%= @customer.mobile_number %>
              </p>
            </li>
            <li style="<%= 'display:none' if @customer.home_phone.blank? %>">
              <label>Home:</label>
              <p>
                <%= @customer.home_phone %>
              </p>
            </li>
            <li style="<%= 'display:none' if @customer.work_phone.blank? %>">
              <label>Work:</label>
              <p>
                <%= @customer.work_phone %>
              </p>
            </li>
            <li style="<%= 'display:none' if @customer.fax_number.blank? %>">
              <label>Fax:</label>
              <p>
                <%= @customer.fax_number %>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="span12">
        <div class="form-horizontal row">
          <div class="span3">
            <div class="control-group">
              <label class="control-label" for="inputStreet">Street:</label>
              <%= render_edit_text_field("street_address","#{@customer.street_address}") %>
            </div>
          </div>
          <div class="span3">
            <div class="control-group">
              <label class="control-label" for="inputCity">City:</label>
              <%= render_edit_text_field("city","#{@customer.city}") %>
            </div>
          </div>
          <div class="span3">
            <div class="control-group">
              <label class="control-label" for="inputCountry">Country:</label>
              <%= render_edit_select_field("country_id", "#{@customer.country_id}", Country.all) %>
            </div>
          </div>
          <div class="span2">
            <div class="control-group">
              <label class="control-label" for="inputState">State:</label>
              <%= render_edit_select_field("region_id", "#{@customer.region_id}", Region.all) %>
            </div>
          </div>
          <div class="span1">
            <div class="control-group">
              <label class="control-label" for="inputZip">Zip:</label>
              <%= render_edit_text_field("zip_code","#{@customer.zip_code}", {:edit_input_class => "input-mini"}) %>
            </div>
          </div>         
        </div>
      </div>
    </form>
  </div>

  <hr class="grid40"/>

  <% open_leads = ErCrm::Lead.open_of_customer(@customer.id) 
     closed_leads = ErCrm::Lead.closed_of_customer(@customer.id)
     sold_leads = ErCrm::Lead.sold_of_customer(@customer.id) %>
  <div class="row grid10">
    <div class="span6">
      <% if open_leads.length > 0 %> <h2 class="darker">Open Leads</h2> <% end %>
    </div>
    <div class="span6">
      <a href="<%= new_lead_path(:customer_id => @customer.id) %>" class="btn-highlight pull-right small">New Lead</a>
    </div>
  </div>


  <% open_leads.each do |lead| %>
    <div class="row-fluid  grid20 contactRequest">
      <div class="box-panel">
        <div class="span8">
          <h3 class="orange"><%= lead.department.lead_category.name %> 
            <small><%= lead.lead_type.name %></small>
          </h3>
        </div>
        <div class="span4 align-right lighter">
          <small><%= lead.created_at.strftime("%d/%M/%Y %l:%M %p") %> created by <i><%= lead.owner_user.try(:name) %></i></small>
        </div>
        <div class="clearfix"></div>
        <div class="align-center"><a href="<%= lead_path(lead) %>" class="btn-dark pull-right small">View Lead</a></div>
      </div>
    </div>
  <% end %>
  <div class="clearfix grid20"></div>

  <div class="js-closedLeads" style="display:none;">
    <div class="row grid10">
      <div class="span6">
        <h2 class="darker">closed Leads</h2>
      </div>
    </div>

    <% closed_leads.each do |lead| %>
      <div class="row-fluid  grid20 contactRequest">
        <div class="box-panel">
          <div class="span8">
            <h3 class="orange"><%= lead.department.lead_category.name %> 
              <small><%= lead.lead_type.name %></small>
            </h3>
          </div>
          <div class="span4 align-right lighter">
            <small><%= lead.created_at.strftime("%d/%M/%Y %l:%M %p") %> created by <i><%= lead.owner_user.try(:name) %></i></small>
          </div>
          <div class="clearfix"></div>
          <div class="align-center"><a href="<%= lead_path(lead) %>" class="btn-dark pull-right small">View Lead</a></div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="js-soldLeads" style="display:none;">
    <div class="row grid10">
      <div class="span6">
        <h2 class="darker">Sold Leads</h2>
      </div>
    </div>

    <% sold_leads.each do |lead| %>
      <div class="row-fluid  grid20 contactRequest">
        <div class="box-panel">
          <div class="span8">
            <h3 class="orange"><%= lead.department.lead_category.name %> 
              <small><%= lead.lead_type.name %></small>
            </h3>
          </div>
          <div class="span4 align-right lighter">
            <small><%= lead.created_at.strftime("%d/%M/%Y %l:%M %p") %> created by <i><%= lead.owner_user.try(:name) %></i></small>
          </div>
          <div class="clearfix"></div>
          <div class="align-center"><a href="<%= lead_path(lead) %>" class="btn-dark pull-right small">View Lead</a></div>
        </div>
      </div>
    <% end %>
  </div>
    
  <div class="row">
    <div class="span6" style="<%= 'display:none' if closed_leads.length == 0 %>">
      <a class="js-closedLeadsTrigger" href="javascript:;" >
        Show Closed Leads (<%= closed_leads.length %>)
      </a>
    </div>
    <div class="span6" style="<%= 'display:none' if sold_leads.length == 0 %>">
      <a class="js-soldLeadsTrigger" href="javascript:;" class="pull-right">Show Closed Leads (<%= sold_leads.length %>)</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $(".js-closedLeadsTrigger").click(function(){
      $(".js-closedLeads").toggle();
      $('html, body').animate({
        scrollTop: $(".js-closedLeads").offset().top}, 500);
      toggleAnchorText($(this))
    })

    $(".js-soldLeadsTrigger").click(function(){
      $(".js-soldLeads").toggle();
      $('html, body').animate({
        scrollTop: $(".js-soldLeads").offset().top}, 500);
      toggleAnchorText($(this))
    })

  })

  function toggleAnchorText(anchor){
    text = anchor.text();
    if (text.indexOf("Show") > -1)
      text = text.replace("Show", "Hide")
    else if (text.indexOf("Hide") > -1)
      text = text.replace("Hide", "Show")

    anchor.text(text)
  }
</script>

<script>
  $(document).ready(function(){
    showHidePensBtn()

    $(".icn-edit").click(function(e){
      e.preventDefault();
      var target = $(this);
      var parent = target.parent("span.js-edit");
      parent.find(".success_msg").addClass("hidden")
      var savecontainer = parent.next("span.js-upload");
      parent.addClass("hidden");
      savecontainer.removeClass("hidden");
    })

    $(".icn-save").click(function(e){
      e.preventDefault();
      var target = $(this);
      var inputField = target.siblings(".field_value");

      $.ajax({
        url: "<%= update_single_attribute_customer_path(@customer.id) %>",
        type: 'post',
        data: {
          authenticity_token: '<%= form_authenticity_token %>',
          attribute_name: target.attr("class").match(/[^ ]*$/)[0],
          attribute_value: inputField.val()
        },
        
        success: function(response){
          //_update_single_attribute.js.erb will be rendered
        },
        error: function(xhr, status, error){
          var errorDiv = target.siblings("span");
          errorDiv.html(xhr.responseText);
          errorDiv.removeClass("hidden");
        }
      });

    })
  })
</script>