<ul>
  <li>
    <a href="<%= customers_path %>">Customers</a>
  </li>
  <li>
    <a href="<%= leads_path %>">Leads</a>
  </li>
  <li>
    <a href="<%= departments_path %>">Departments</a>
  </li>
  <li>
    <a href="<%= lead_categories_path %>">Lead Categories</a>
  </li>
  <li>
    <a href="<%= lead_types_path %>">Lead Types</a>
  </li>   
</ul>