  <% if @lead.errors.any? %>
    <div>
      <h2><%= pluralize(@lead.errors.count, "error") %> prohibited this lead from being saved:</h2>

      <ul>
      <% @lead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= f.label :status %>
    <%= f.collection_select :status_id, ErCrm::Status.all, :id, :name %>
  </div>
  <div>
    <%= f.label :reservation %>
    <%= f.collection_select :reservation_id, Reservation.all, :id, :id %>
  </div>
  <div>
    <%= f.label :department %>
    <%= f.collection_select :department_id, ErCrm::Department.all, :id, :name %>
  </div>
  <div>
    <%= f.label :customer %>
    <%= f.collection_select :customer_id, ErCrm::Customer.all, :id, :name %>
  </div>
  <div>
    <%= f.label :lead_type %>
    <%= f.collection_select :lead_type_id, ErCrm::LeadType.all, :id, :name %>
  </div>  
  <div>
    <%= f.label :owner_user %>
    <%= f.collection_select :created_by_user_id, User.all, :id, :name, {include_blank: true} %>
  </div>
  <div>
    <%= f.label :assigned_user %>
    <%= f.collection_select :assigned_user_id, User.all, :id, :name, {include_blank: true} %>
  </div>
  