<h1>Editing Lead</h1>

<p>
  <b>ID:</b> <%= @lead.id %><br>
</p>

<%= form_for(@lead) do |f| %>
  <%= render partial: 'form', locals: {f: f} %>
  <%= f.fields_for :follow_up do |follow_up_form| %>
    <table border="1">
      <tr>
        <td>
          <%= follow_up_form.radio_button(:_destroy, false) %>
          <div>
            Follow up Date
            <%= follow_up_form.datetime_select :datetime, {:start_year => Time.now.year, :end_year => Time.now.year + 3,
                                                           :ampm => true, :minute_step => 30} %>
          </div>
          <div>
            <%= follow_up_form.label :description, :style => "vertical-align: top" %>
            <%= follow_up_form.text_area :description, :cols => 50, :rows => 5 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= follow_up_form.radio_button(:_destroy, true) %>
          No Follow up
        </td>
      </tr>
    </table>
  <% end %>
  <div>
    <%= f.label :comments, :style => "vertical-align: top" %>
    <%= f.text_area :comments, :cols => 50, :rows => 5 %>
  </div>
  <div>
    <%= f.submit "Submit" %>
  </div>
<% end %>
